atomicwrites
attrs
backcall
bleach
blis
boto
boto3
botocore
certifi
chardet
cssselect
cycler
cymem
decorator
defusedxml
docutils
emoji
empath
en-core-web-sm
entrypoints
fasttext
gensim
hatesonar
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
lxml
MarkupSafe
matplotlib
mistune
more-itertools
murmurhash
nb-conda
nb-conda-kernels
nbconvert
nbformat
networkx
nltk
notebook
numpy
packaging0
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
plac
pluggy
preshed
prometheus-client
prompt-toolkit
psaw
psutil
ptyprocess
py
pybind11
Pygments
pyparsing
Pyphen
pyrsistent
pytest
python-dateutil
pytz
pyzmq
qtconsole
readability
readability-lxml
repoze.lru
requests
s3transfer
scikit-learn
scipy
seaborn
Send2Trash
six
smart-open
spacy
srsly
stanfordcorenlp
terminado
testpath
textstat
thinc
torch
torchvision
tornado
tqdm
traitlets
ujson
urllib3
vaderSentiment
wasabi
wcwidth
webencodings
widgetsnbextension
zipp
